pkgbase = ani
	pkgdesc = Fast code intelligence engine — native executable with verified integration asset
	pkgver = 0.10.8
	pkgrel = 1
	url = https://github.com/jnani1972/ani
	arch = x86_64
	license = MIT
	provides = ani
	conflicts = ani
	source_x86_64 = ani-0.10.8-linux-amd64.tar.gz::https://github.com/jnani1972/ani/releases/download/v0.10.8/ani-linux-amd64.tar.gz
	sha256sums_x86_64 = ba8e64111e2cebe15dbe8697d28cdc69abd4098360e1877d4ee447aa912dd034

pkgname = ani
